name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
    - name: Restore dependencies
      run: dotnet restore src/Locksmith.sln
    - name: Build
      run: dotnet build src/Locksmith.CLI/Locksmith.CLI.csproj --no-restore
    - name: Test
      run: dotnet test src/Locksmith.Test/Locksmith.Test.csproj
